<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.del.ac.delstat">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DelStat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.analisisdata.activity.DetailAnalisisDataActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.analisisdata.activity.ListAnalisisDataActivity" />
        </activity>
        <activity
            android:name=".presentation.analisisdata.activity.CreateAnalisisDataActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.analisisdata.activity.ListAnalisisDataActivity" />
        </activity>
        <activity
            android:name=".presentation.analisisdata.activity.ListAnalisisDataActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".presentation.testactivity.LiteraturActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.testactivity.MateriActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>